@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: var(--font-sora), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

@layer components {
  .scroll-offset {
    scroll-margin-top: 15vh;
  }
  .nav_link {
    @apply relative text-base font-medium w-fit block text-white;
  }

  .nav_link::after {
    content: "";
    @apply block absolute h-[3px] w-full bg-yellow-400 scale-x-0 transition duration-300 origin-right;
  }

  .nav_link:hover::after {
    @apply scale-x-100;
  }
  .text-bg{
    background-image: linear-gradient(to right, #875087 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar{
    width: 10px;
    height:10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track{
    background-color: #44028f;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #c277fa;
    border-radius: 4px;
  }
  
}
